<div>
    <h1 class="title-sec">Ocorrências</h1>
    <table class="table table-striped table-bordered table-select" style="width:100%">
        <thead><tr>
            <th></th>
            <th>Nº dispositivo</th>
            <th>Densidade da fumaça</th>
            <th>Temperatura</th>
            <th>Umidade do ar</th>
        </tr></thead>
        <tbody>
            <tr ng-repeat="rowOcorrencia in ocorrencias">
                <td>
                    <span class="dot" style="background-color: green" ng-if="rowOcorrencia.atendido == 1"></span>
                    <span class="dot" style="background-color: red" ng-if="rowOcorrencia.atendido == 0"></span>
                </td>
                <td>{{rowOcorrencia.dispositivo}}</td>
                <td>{{rowOcorrencia.densidade_fumaca}}</td>
                <td>{{rowOcorrencia.temperatura}} ºC</td>
                <td>{{rowOcorrencia.umidade}}</td>
                <td ng-if="rowOcorrencia.atendido == 0"><button class="btn btn-default" style="border-radius:50%;" ng-click="atenderOcorrencia(rowOcorrencia.$id)">Ativar supressão</button></td>
                <td><button class="btn btn-default" style="border-radius:50%;" ng-click="excluirOcorrencia(rowOcorrencia.$id)">X</button></td></tr>
            </tr>
        <tbody>
    <table>
</div>